<!DOCTYPE html> 
<html>
<head>
	<title>{% block title %}
	 ISL{% endblock title %}</title>
	<!---load path to static file-->
	{% load static %}
	<!---Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!---Goodle fonts-->
	<link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet">
	<!---Generic blue print-->
	<link rel="stylesheet" type="text/css" href="{% static 'season/style.css' %}">
  <!---Jquery-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!---?-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <!---Bootstrap's javascript-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

 {% block extrahead %}{% endblock %}
</head>
<body> 
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark base_navbar">
      <a class="navbar-brand" href="{% url 'season:start' %}">ISL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'season:calendar' %}">Calendar <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'season:league' %}">League Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'season:cup' %}">Cup Tree</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'season:players' %}">Player stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'season:teams_list' %}">Team stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'season:test_page' %}">Test_page</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-toggler-right">
        	<li class="nav-item">
        		<a class="nav-link" href="#">Logout</a>
        	</li>
        </ul>
      </div>
    </nav>
	{% block body_block %}{% endblock body_block %}
  {% block extra_JS %}{% endblock extra_JS %}
</body>
</html>