{% extends "season/base.html" %}

<!--la till load staticfiles för att det inte fungerar att använda static inom block taggar. i ett senare skede bör logo vara ett attribut till class istället för att använda static-->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'season/style_match.css' %}">
{% block title %}Match{% endblock title %}

{% block body_block %}
<div class="container">
	<div class="row">
		{% include 'season/_match_header.html' %}
	</div>
	<div class="row">
		{% include 'season/_match_menu.html' %}
	</div>
	<div class="row">
		<div class="col-sm-12">

			
		</div>
	</div>
</div>
{% endblock %}