{% extends "season/base.html" %}


{% load staticfiles %}

	{% block extrahead %}
	  <link rel="stylesheet" type="text/css" href="{% static 'season/style_start.css' %}">
	{% endblock %}


{% block body_block %}

<p>Start Page</p> 

<div class="full_season_div">
	<form method="post">
		{% csrf_token %}
		<button type="submit" class="btn btn-primary" name="PlayFullSeason">Play Full Season</button>
	</form>
</div>

<!--<div>
	<form method="post">
		{% csrf_token %}
		<div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Play Until Day:
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Play Until Day: <span class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
				  	{% for day in days %}
				  		<li><a href="">{{day.Day}}</a></li>
				  	{% endfor %}
                </ul>
            </div>
	</form>
</div>-->


<div class="reset_games">
	<form method="post">
		{% csrf_token %}
		<button type="submit" class="btn btn-primary" name="ReSetGames">Re-set All Games</button>
	</form>
</div>

{% endblock body_block %}


