
{% extends "season/base.html" %}

<!--la till load staticfiles för att det inte fungerar att använda static inom block taggar. i ett senare skede bör logo vara ett attribut till class istället för att använda static-->
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season/style_match.css' %}">
	{% block title %}Test Page{% endblock title %}

{% block body_block %} 
<h3>Test Page</h3>
	{% for P in all_players_fitness %}

	<p>{{P.Player.Name}}</p>
		
	{% endfor %}
{% endblock %}