
{% extends "season/base.html" %}

 <!--la till load staticfiles för att det inte fungerar att använda static inom block taggar. i ett senare skede bör logo vara ett attribut till class istället för att använda static-->
{% load static %}




{% block title %}
	 Test_sida{% endblock title %}


{% block body_block %}

	<script type="text/javascript">

		var current_round = 0;
		function makeAwesome(){
			current_round = current_round + 1
			console.log(current_round)
		}
	</script>

	<div class="container">
		<form method="post">
			{% csrf_token %}
			<input type="button" name="" value="Next Round" onclick="makeAwesome()">
		</form>
		<h2>{{text}}</h2>
	</div>

	{%for r in all_rounds%}
		{% if r.Round <  6  %} 

			<p>Round {{r.Round}} : {{r.Home_team_name}} - {{r.Away_team_name}} {{r.Home_team_score}} - {{r.Away_team_score}} </p>
			
		{% endif %}

	{%endfor%}





{% endblock %}

